div.tn-layout {
  width: 640pt;
  font-family: Arial;
}

div.tn-field {
  border: 1px solid #DDD;
  background: #FFE;
  width: 488pt;
  height: 300px;
}

div.tn-keyboard {
  width: 41.5em;
  height: 14.5em;
}

div.tn-keyboard div span.tn-keyboard-key {
  cursor: default;
  display: block;
  float: left;
  height: 2.5em;
  line-height: 2.5em;
  width: 2.5em;
  text-align: center;
  border: 1px solid #DDD;
  margin: .1em;
  background: #EEE;
  -moz-border-radius: .4em;
  -webkit-border-radius: .4em;
}
div.tn-keyboard div span.backspace {
  width: 4.3em;
}
div.tn-keyboard div span.tab {
  width: 3.5em;
  color: #888;
}
div.tn-keyboard div span.tab:after {
  content: '|';
  font-size: 80%;
  font-weight: bold;
}
div.tn-keyboard div span.enter {
  width: 5.3em;
}
div.tn-keyboard div span.enter:before {
  content: 'Enter';
  margin-right: 0.5em;
}
div.tn-keyboard div span.capslock {
  width: 4.3em;
  color: #888;
}
div.tn-keyboard div span.capslock:after {
  content: 'CLock';
}
div.tn-keyboard div span.r-shift {
  width: 7em;
}
div.tn-keyboard div span.l-shift {
  width: 5.4em;
}
div.tn-keyboard div span.space {
  width: 22.3em;
}
div.tn-keyboard div.tn-keyboard-row-2 span.tn-keyboard-key:last-child {
  width: 3.3em;
}
div.tn-keyboard div.tn-keyboard-row-5 {
  margin-left: 8.5em;
}
div.tn-keyboard span.tn-keyboard-key span.up {
  display: none;
}
div.shifted span.tn-keyboard-key span {
  display: none;
}
div.shifted span.tn-keyboard-key span.up {
  display: inline;
}
div.tn-keyboard div span.tn-keyboard-key-1-finger {
  background: #FEF;
}
div.tn-keyboard div span.tn-keyboard-key-2-finger {
  background: #EFE;
}
div.tn-keyboard div span.tn-keyboard-key-3-finger {
  background: #EEF;
}
div.tn-keyboard div span.tn-keyboard-key-4-finger {
  background: #FEE;
}